<header
    class="w-full h-16 shadow-md sticky top-0 left-0 right-0 bg-white flex flex-row items-center justify-between px-4"
    id="header__page">
    <img src="{{url_for('static',filename='favicon.png')}}" alt="" class="h-8">
    <div class="flex flex-row items-center">
        <a href="/"
            class="bg-green-500 text-xl px-8 py-2 rounded shadow-md text-white hover:bg-green-400 font-black">Home</a>
        <a href="https://github.com/luongvantuit/ocr-identify-document"
            class="ml-4 p-2 rounded hover:bg-green-500 bg-white shadow-md group" style="color: #39374E;"><i
                class="fab fa-github text-2xl group-hover:text-white"></i></a>
    </div>
</header>