# Mac 
.DS_Store

# Env folder
*env*/

# Lock file 
*.lock
*-lock.json

# Node library
node_modules/

# Cache
*[Cc]ache*
__pycache__/


*.py[cod]
*$py.class

# File image
*.png
*.jpg
*.txt

# Test folder
test

# Requirements lib
!requirements.txt
!label.txt
!favicon.png

# IDE 
.vscode/
.idea/