<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 - Page Not Found</title>
	<link rel="shortcut icon" href="{{url_for('static',filename='favicon.png')}}" type="image/x-icon">
	<link rel="stylesheet" href="">
	{% include 'components/head.html'%}
	{% include 'components/styles.html'%}
</head>

<body>
	{% include 'components/header.html' %}
	<div class="w-auto md:py-16 flex w-full justify-center">
		<img src="{{url_for('static',filename='undraw_page_not_found.svg')}}" alt="" class="hidden lg:block">
		<div class="items-start flex-col flex justify-center ">
			<p class="text-green-500 font-black text-5xl mt-8 mb-0">Page Not Found</p>
			<a href="/"
				class="bg-green-500 text-white px-8 py-3 rounded-md text-xl font-black my-8 shadow-xl hover:bg-green-400">Go
				to Home! &rarr;</a>
		</div>
	</div>

	{% include 'components/footer.html' %}
	{% include 'components/scripts.html' %}
</body>

</html>