<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - OCR Identify Document</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.png')}}" type="image/x-icon">
    {% include 'components/head.html'%}
    {% include 'components/styles.html'%}

</head>

<body>

    {% include 'components/header.html' %}

    <main id="main__file" class="flex items-center justify-center flex-col">
        <img src="{{url_for('static',filename='undraw_upload.svg')}}" alt="upload image" class="m-8 w-96">
        <input
            class="form-control block px-2 py-1.5 text-base font-normal bg-white bg-clip-padding border 
            border-solid rounded transition ease-in-out m-0 mx-8 mb-8 w-96"
            type="file" id="upload__file" accept="image/png, image/jpeg" onchange="readURL(this);" />
        <img src="" alt="preview file" id="preview__file" class="w-96 mx-8 mb-8">
    </main>
    {% include 'components/footer.html' %}
    {% include 'components/scripts.html' %}
</body>

</html>