<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - OCR Identify Document</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.png')}}" type="image/x-icon">
    {% include 'components/head.html'%}
    {% include 'components/styles.html'%}

</head>

<body>

    {% include 'components/header.html' %}

    <main id="main__file" class="flex items-center justify-center flex-col">
        <form action="/upload_image" method="POST" enctype="multipart/form-data" style="margin:auto">
            <img src="{{url_for('static',filename='undraw_upload.svg')}}" alt="upload image" class="m-8 w-96">

            <input class="form-control block px-2 py-1.5 text-base font-normal bg-white bg-clip-padding border
            border-solid rounded transition ease-in-out m-0 mx-8 mb-8 w-96" type="file" id="upload__file" name="file"
                accept="image/png, image/jpeg" onchange="readURL(this);" />

            <img src="" alt="preview file" id="preview__file" class="w-96 mx-8 mb-8">
            <div class="container-login100-form-btn">
                <button
                    class="bg-green-500 text-white px-4 lg:px-6 xl:px-8 py-2 lg:py-3 rounded-md font-black my-8 shadow-xl hover:bg-green-400 text-base lg:text-xl xl:text-xl"
                    type="submit">
                    Upload
                </button>
            </div>
            <div class="text-center p-t-136">
                <a class="txt2" href="https://www.facebook.com/huysmith.it" target="_blank">
                    Contact
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>
        </form>
    </main>
    {% include 'components/footer.html' %}
    {% include 'components/scripts.html' %}
</body>

</html>
